Tests: apt-integration
Depends: @, apt-cacher-ng
Restrictions: isolation-container, allow-stderr

Test-Command: clitest debian/tests/apt-cacher-ng.txt
Depends: @, clitest, apt-cacher-ng
Features: test-name=apt-cacher-ng
Restrictions: isolation-container

Test-Command: clitest debian/tests/approx.txt
Depends: @, clitest, approx
Features: test-name=approx
Restrictions: isolation-container

Test-Command: clitest debian/tests/apt-cacher.txt
Depends: @, clitest, apt-cacher
Features: test-name=apt-cacher
Restrictions: isolation-container

Test-Command: clitest debian/tests/wrapper-mode.txt
Depends: @, clitest, apt-cacher-ng
Features: test-name=wrapper-mode
Restrictions: isolation-container

Tests: remove, reinstall
Restrictions: needs-root
Depends: @, clitest

Tests: timeout, getent-timeout
Depends: @, ruby-webrick, ruby-rack (<< 3) | ruby-rackup
Restrictions: allow-stderr

Tests: insecure-cache-dir
Depends: @
Restrictions: needs-root, allow-stderr

Tests: noproxy
Depends: @, newpid
Restrictions: allow-stderr, skippable

Tests: podman, lxc
Depends: @, systemd
Restrictions: allow-stderr, skippable, proxy-on-host
