Source: auto-apt-proxy
Section: net
Priority: optional
Maintainer: Antonio Terceiro <terceiro@debian.org>
Build-Depends: debhelper (>=9),
Standards-Version: 3.9.6
Homepage: https://gitlab.com/terceiro/auto-apt-proxy
Vcs-Git: https://gitlab.com/terceiro/auto-apt-proxy.git
Vcs-Browser: https://gitlab.com/terceiro/auto-apt-proxy

Package: auto-apt-proxy
Architecture: all
Depends: apt,
         ${misc:Depends},
         ${shlibs:Depends},
Description: auto detect common APT proxy settings
 auto-apt-proxy installs itself as an APT proxy autodetector, and detects
 common setups by checking localhost and the network default gateway for
 well-known APT proxies such as apt-cacher-ng.
 .
 This package is most useful for development environments, and will Do The
 Right Thing for:
 .
   * build chroots, with a proxy running on the host system.
   * docker/lxc containers, with a proxy running on the host system.
   * Virtual machines with NAT networking, with a proxy running on the host
   * system.
 .
 This package has a minimal set of dependencies in order to minimize the
 influence on systems where it is installed.
 .
 For corporate desktop deployments, where the APT proxy can be located at any
 arbitraty host, you should probably try the `squid-deb-proxy-client` package
 instead.
