#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --verbose
	dh_auto_build

override_dh_auto_install:
	dh_install target/debug/auto-apt-proxy usr/bin
	dh_auto_install

override_dh_auto_test:
	cargo test
	dh_auto_test

override_dh_auto_clean:
	cargo clean
	$(RM) Cargo.lock
